*/x64
*/build
*/.vscode/
*\build
*\.vs
*/packages
.vscode/settings.json
*.env
.idea/

AmethystLauncher/bin/
AmethystLauncher/build/
AmethystLauncher/node_modules/
AmethystLauncher/.vscode/
AmethystLauncher/dist/

cmake-build-debug/