*/x64
*/build
*/.vscode/
*\build
*\.vs
*/packages
.vscode/settings.json
*.env

AmethystLauncher/bin/
AmethystLauncher/build/
AmethystLauncher/node_modules/
AmethystLauncher/.vscode/
AmethystLauncher/dist/

venv
docs/build/*
docs/source/doxygen/*
docs/source/breathe/*