@font-face {
    font-family: 'Minecraft-Ten';
    src: url('../assets/fonts/Minecraft-Ten.otf') format('opentype');
}

@font-face {
    font-family: 'Minecraft-Seven';
    src: url('../assets/fonts/Minecraft-Seven.otf') format('opentype');
}

* {
    padding: 0;
    margin: 0;
}

:root {
    --header-color: #E6E8EB;
    --header-height: 42px;
    --header-highlight-color: #EBEDEF;
    --header-highlight-height: 2px;
    --header-shadow-color: #B1B2B5;
    --header-shadown-height: 4px;
    --main-panel-color: #48494A;
    --main-panel-shadow-color: #333334;
    --main-panel-shadow-height: 2px;
}

body {
    background-color: var(--main-panel-color);
}

#header {
    height: var(--header-height);
    background-color: var(--header-color);
    align-items: center;
    justify-content: center;
    place-items: center;
    display: flex;
}

p, h1, h2, h3, label {
    user-select: none;
}

#header-highlight {
    height: var(--header-highlight-height);
    background-color: var(--header-highlight-color);
}

#header-shadow {
    height: var(--header-shadown-height);
    background-color: var(--header-shadow-color);
}

#main-panel-shadow {
    height: var(--main-panel-shadow-height);
    background-color: var(--main-panel-shadow-color);
}

#main-panel {
    margin: 8px;
}

#window-title {
    font-family: "Minecraft-Ten";
    letter-spacing: .1px;
    font-size: 16px;
}

.buttons {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 8px;
    left: 0;
    width: 100%;
}

.minecraft-button {
    border: 1px;
    width: 45vw;
    height: 44px;
    margin-left: 10px;
    margin-right: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #1E1E1F;
    cursor: pointer;
}

.button-top { 
    background-color: #3C8527;
    border: 2px solid #4F913C;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    place-items: center;
    display: flex;
    font-family: "Minecraft-Ten";
    color: #FFF;
    letter-spacing: .1px;
    font-size: 16px;
    text-shadow: 1.5px 1.5px 1px #2A5D1B;
    user-select: none;
}

.button-top:hover {
    background-color: #2A641C;
}

.button-shadow {
    height: 4px;
    background-color: #1D4D13;
    box-sizing: border-box;
    width: 100%;
}

.minecraft-button:active {
    height: 40px;
    transform: translateY(4px);
}

.minecraft-button:active .button-shadow {
    height: 0px;
}

.divided-section {
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-top-color: #5A5B5C;
    border-bottom-color: var(--main-panel-shadow-color);
    border-style: solid;
    border-left: none;
    border-right: none;
    padding: 8px;
}

.divider {
    height: 2px;
    width: 100vw;
    background-color: #5A5B5C; 
}

#loaded-mods div, #unloaded-mods div {
    display: flex;
}

#loaded-mods div p, #unloaded-mods div p {
    margin: 0;
}

#runtime-mod-select {
    display: block;
    width: 100%;
}

.minecraft-seven {
    font-family: "Minecraft-Seven";
    color: white;
    font-size: 14px;
    letter-spacing: .5px;
}

.minecraft-seven-subtext {
    font-family: "Minecraft-Seven";
    color: #BCBEC0;
    font-size: 12px;
    letter-spacing: .5px;
    margin-top: 2px;
}

.flex {
    display: flex;
    align-items: center;
}

.toggle-container {
    width: 60px;
    height: 28px;
    box-sizing: border-box;
    border: 2px solid #1E1E1F;
    margin-left: auto;
    z-index: 2;
    display: flex;
    cursor: pointer;
}

.toggle-enabled {
    box-sizing: border-box;
    border: 2px solid #639D52;
    background-color: #3C8527;
    height: 24px;
    width: 30px;
    border-right: none;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-disabled {
    box-sizing: border-box;
    border: 2px solid #A3A4A6;
    background-color: #8C8D90;
    height: 24px;
    width: 30px;
    border-left: none;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle {
    appearance: none;
    width: 32px;
    height: 30px;
    background-color: #D0D1D4;
    box-sizing: border-box;
    border: 2px solid #1E1E1F;
    position: absolute;
    z-index: 2;
    transform: translate(-2px, -4px);
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}

.toggle-text {
    color: #242425;
}

.toggle:checked {
    transform: translate(26px, -4px)
}