# Used for generating html from rst files
sphinx == 7.2.6

# Better theming for sphinx
sphinxawesome-theme == 5.1.1

# Allows more custom Styling options in rst files
sphinx_design == 0.5.0

# Used for generating rst files from doxygen xml data
breathe == 4.35.0

# Used for deploying to github pages
ghp-import == 2.1.0
